<pre class="js language-js"><code>const foo = &#39;bar&#39;</code></pre>
<p><code class="js language-js">const foo = 'bar'</code></p>
<pre class="language-php"><code>$toto = &quot;bar&quot;</code></pre>
<pre class="js language-js linkable-line-numbers" data-line="2,4-5"><code>function f() {
  let foo = &#39;bar&#39;
  foo += &quot;2&quot;
  foo += &quot;5&quot;
  return foo
}</code></pre>
<pre class="diff-js language-diff-js diff-highlight"><code>function f() {
- let foo = &#39;bar&#39;
+ let foo = &#39;bar2&#39;
}</code></pre>
<pre class="bash language-bash command-line no-line-numbers" data-user="myuser"><code>ls .</code></pre>
