<p>Some text</p>
<p>Some text</p>
<div class="multicolumns">
<div class="column">
<p>Some text on first column</p>
</div>
<div class="column">
<p>Some text on second column</p>
</div>
<div class="column">
<p>Some text on third column</p>
</div>
</div>
<div class="multicolumns">
<div class="not-column-class column">
<p>Some text on first column</p>
</div>
<div class="column">
<p>Some text out of div but managed by the filter on next column</p>
</div>
</div>
