@use "layout";
@use 'palette' as p;
@use 'concept' as c;

article {
  @include c.Concept;

  grid-area: article;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  position: relative;

  a {
    color: p.$accentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &[href^='http']:after {
      @include p.icon('open-in-new');
      vertical-align: super;
    }
  }

  p {
    margin: 0.5em 0;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5em 0;
    color: #111;
    line-height: 125%;
    padding-top: 2em;
    font-weight: normal;
  }

  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    font-family: Comfortaa, sans-serif;
    color: p.$accentColor;
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.2em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.9em;
  }

  blockquote {
    color: #666666;
    margin: 0;
    padding-left: 3em;
    border-left: 0.5em p.$backgroundHead solid;
  }

  hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid p.$backgroundHead;
    margin: 0.5em 0;
    padding: 0;
  }

  kbd,
  samp {
    color: #000;
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 0.98em;
  }

  div.sourceCode {
    overflow: hidden;
  }

  b,
  strong {
    font-weight: bold;
  }

  dfn {
    font-style: italic;
  }

  ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
  }

  mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
  }

  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  ul,
  ol {
    margin: 0.5em 0;
    padding: 0 0 0 2em;
  }

  li p:last-child {
    margin-bottom: 0;
  }

  ul ul,
  ol ol {
    margin: 0.3em 0;
  }

  dl {
    margin-bottom: 1em;
  }

  dt {
    font-weight: bold;
    margin-bottom: 0.8em;
  }

  dd {
    margin: 0 0 0.8em 2em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
  }

  figure {
    display: block;
    text-align: center;
    margin: 0.5em 0;

    img {
      border: none;
      margin: 0 auto;
    }
  }

  .multicolumns {
    display: inline-flex;
    width: 100%;

    > .column {
      flex: 1 1 auto;
    }
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0 0 0.8em;
  }

  table {
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    th {
      padding: 0.2em 1em;
      background-color: p.$backgroundHead;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }

    td {
      padding: 0.2em 1em;
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
      vertical-align: top;
    }
  }

  .author {
    font-size: 1.2em;
    text-align: center;
  }

  @media only screen and (min-width: 480px) {
    body {
      font-size: 14px;
    }
  }

  @media only screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }

  @media print {
    * {
      background: transparent !important;
      color: black !important;
      filter: none !important;
      -ms-filter: none !important;
    }

    body {
      font-size: 12pt;
      max-width: 100%;
    }

    a {
      text-decoration: underline;

      &:visited {
        text-decoration: underline;
      }
    }

    hr {
      height: 1px;
      border: 0;
      border-bottom: 1px solid black;
    }

    a[href]:after {
      content: ' (' attr(href) ')';
    }

    abbr[title]:after {
      content: ' (' attr(title) ')';
    }

    .ir a:after {
      content: '';
    }

    a {
      &[href^='javascript:']:after,
      &[href^='#']:after {
        content: '';
      }
    }

    blockquote {
      border: 1px solid #999;
      padding-right: 1em;
      page-break-inside: avoid;
    }

    tr {
      page-break-inside: avoid;
    }

    img {
      page-break-inside: avoid;
      max-width: 100% !important;
    }

    @page :left {
      margin: 15mm 20mm 15mm 10mm;
    }

    @page :right {
      margin: 15mm 10mm 15mm 20mm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }
  }
}
