@use "palette" as p;

$borderWidth: 1px;
$borderRadius: 4px;

@mixin box($color) {
  position: relative;
  min-height: 2em;

  border: $borderWidth solid $color;
  border-radius: $borderRadius;

  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    opacity: 0.05;
    background-color: $color;
  }
}

@mixin iconbox($icon, $color) {
  @include box($color);
  $margin: 50px;
  margin-left: $margin;

  border-radius: 0 $borderRadius $borderRadius 0;

  min-height: $margin;
  max-height: 100%;

  &:before {
    position: absolute;
    left: -$margin;
    top: -$borderWidth;
    @include p.icon($icon);

    flex: 1 1 100%;
    align-items: center;
    justify-content: center;

    border-radius: $borderRadius 0 0 $borderRadius;
    border: $borderWidth solid $color;

    background-color: $color;
    color: #ffffff;

    line-height: 1em;
    font-size: 2em;

    min-width: $margin;
    max-width: $margin;
    min-height: calc(100% + 2 * #{$borderWidth});
    max-height: calc(100% + 2 * #{$borderWidth});
    box-sizing: border-box;
    padding: 8px;
  }
}

article div {
  &.box {
    @include box(p.$color);
  }

  &.success {
    @include box(p.$colorSuccess);
  }

  &.warn {
    @include box(p.$colorWarn);
  }

  &.error {
    @include box(p.$colorError);
  }

  &.note {
    @include iconbox('information', p.$accentColor);
  }

  &.tip {
    @include iconbox('thumb-up', p.$colorSuccess);
  }

  &.question {
    @include iconbox('comment-question', p.$color);
  }

  &.warning {
    @include iconbox('alert', p.$colorWarn);
  }

  &.important {
    @include iconbox('exclamation-thick', p.$colorError);
  }
}
