@use 'palette' as p;
@use 'popin' as pop;

@mixin Concept {
  .Concept {
    text-decoration: underline double;
  }

  .ConceptLink {
    color: inherit;
    font-style: italic;
    border-bottom: solid 0.5px #999999;
    stroke-dasharray: 5 10;
    line-height: inherit;
    &:hover {
      text-decoration: none;
      color: p.$accentColor;
      border-color: p.$accentColor;
    }
  }

  .ConceptPopin {
    @include pop.popin()
  }
}
