@use "palette" as p;

.PandocError {
  $error: rgb(134, 28, 28);

  &__Anchor{
    color: $error;
    &:before {
      @include p.icon( 'alert-circle-outline');
    }
  }

  &__Summary {
    width: 100%;
    display: inline-grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    &:before {
      @include p.icon('chevron-down')
    }
  }

  &__Link {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  &__First{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 3px;
    &:hover, &:focus {
      background-color: rgba(248, 248, 248, 0.45);
    }
  }

  &__Message {
   grid-area: error;
   z-index: 10;
   background-color: $error;
   color: #fff;
   padding: 8px;
  }
}
