@use "layout";
@use "palette" as p;

header {
  display: none;

  &.display {
    display: grid;
  }

  position: relative;

  grid-area: header;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'title title'
    'subtitle subtitle'
    'author date'
    'search search';

  transition: top 0.2s ease-in-out;
  align-items: center;
  background: p.$accentColor;
  color: white;
  flex-wrap: wrap;
  padding: 10px;

  * {
    margin: 0;
  }

  .title {
    grid-area: title;
    font-size: 2.5em;
    font-family: Comfortaa, sans-serif;
    text-align: center;
  }

  .subtitle {
    grid-area: subtitle;
    font-size: 1em;
    font-family: Comfortaa, sans-serif;
    text-align: center;
  }

  .author {
    grid-area: author;
  }

  .date {
    grid-area: date;
    text-align: right;
  }

  .search {
    background: #ffffff;
    grid-area: search;
    color: p.$color;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    padding: 0 5px 0 5px;

    &:before {
      padding-right: 5px;
      font-size: 120%;
      @include p.icon('text-search');
    }

    input {
      color: #686868;
      outline: none;
      border: none;
      flex: 1;
    }

    &.searching button {
      display: block;
    }

    button {
      display: none;
      background: #ffffff;
      border: none;

      &:after {
        @include p.icon('close');
      }

      &:hover {
        color: p.$accentColor;
      }
    }
  }

  #printButton {
    grid-area: search;

    &:after {
      @include p.icon('file-pdf-outline');
    }

    color: inherit;
    text-decoration: none;
    align-self: flex-end;
    font-size: 120%;
    padding-left: 10px;
  }
}

.ButtonMenu {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #313335;
  border-radius: 4px;
  padding: 4px;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 10px;
  top: 10px;
  opacity: 90%;

  &:hover {
    opacity: 1;
  }

  svg path {
    fill: #313335;
  }
}

