@use "palette" as p;
@use "~include-media/dist/_include-media.scss" as im;

$navWidth: 300px;
$breakpoint-tablet: 768px;

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.7;
  background: p.$backgroundColor;
}

* {
  box-sizing: border-box;
}

body {
  color: p.$color;

  position: relative;

  padding: 0;
  margin: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;

  resize: horizontal;

  display: grid;
  grid-template-columns: 0 1fr;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'error error'
    'header article'
    'nav article'
    'footer footer';

  &.display {
    grid-template-columns: minmax(min-content, $navWidth) 1fr;
  }

  footer {
    grid-area: footer;
  }
}
