@use 'palette' as p;
@use 'layout';

nav {
  display: none;

  &.display {
    display: flex;
  }

  position: relative;
  grid-area: nav;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: top 0.2s ease-in-out;

  ul {
    flex: 1 1 auto;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding-left: 0;

    li {
      $pad: 1em;
      position: relative;
      list-style: none;
      padding-left: $pad;

      a {
        text-overflow: ellipsis;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: p.$accentColor;
        }

        &.current {
          font-weight: bold;
          color: p.$accentColor;
        }

        .found {
          text-decoration: underline;
        }
      }

      > .fold {
        color: inherit;
        background-color: transparent;
        border: none;
        position: absolute;
        padding: 0;
        top: 0.5em;
        left: 0;
        width: $pad;

        &:before {
          @include p.icon('chevron-up');
        }
      }
    }
  }

  > ul {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
  }

  &.searching {
    a:not(.found) {
      display: none;
    }

    .fold {
      display: none;
    }
  }

  &:not(.searching) {
    ul li.folded:not(.autoUnfold) {
      > ul {
        display: none;
      }

      > .fold:before {
        @include p.icon('chevron-down');
      }
    }
  }

  &.none-found > ul > li:first-child:before {
    content: 'Not found';
    display: block;
    width: 100%;
  }

  .foldControlBar {
    bottom: 0;
    right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;

    button {
      color: inherit;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 0;
      font-size: 120%;
      z-index: 20;

      &:hover {
        color: p.$accentColor;
        background-color: #efefef;
      }

      &.unfold:before {
        @include p.icon('chevron-double-down');
      }

      &.fold:before {
        @include p.icon('chevron-double-up');
      }
    }
  }
}
