@import '~@mdi/font/scss/variables';
@import '~@mdi/font/scss/functions';

$color: #444444;
$accentColor: #006a96;
$backgroundColor: #fff;
$backgroundHead: #eeeeee;
$colorSuccess: #4d9600;
$colorWarn: #bb6600;
$colorError: #bb0000;

@mixin icon($name) {
  font-family: 'Material Design Icons', sans-serif;
  //noinspection CssInvalidFunction
  content: mdi($name);
}
