@use 'palette' as p;

@mixin popin {
  font-style: normal;
  color: p.$color;

  position: absolute;
  z-index: 1000;

  display: block;
  min-width: 300px;
  max-width: 300px;
  padding: 8px 16px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: p.$backgroundColor;
  border-radius: 4px;

  overflow: hidden;

  animation: appearin 200ms ease-in-out;
  animation-fill-mode: forwards;

  @keyframes appearin {
    0% {
      opacity: 0;
      margin: 20px 0;
    }

    100% {
      opacity: 1;
      margin: 10px 0;
    }
  }
}

