@use '../style/palette.scss' as p;

footer {
  background-color: p.$accentColor;
}

.Reload {
  @include p.icon('lan-connect');
  padding: 10px;
  color: #fff;
  z-index: 20;
  font-style: normal;
  overflow: hidden;

  &:not(.scheduled) {
    &:after {
      @include p.icon('lan-connect');
      right: 10px;
    }
  }

  &.scheduled {
    &:after{
      @include p.icon('file-download-outline');
    }
  }
}
